# Ambiente virtual Python
venv/
.venv/
env/

# Backups
backups/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/

# Logs e temporários
*.log
*.tmp
